#controls {
    margin-bottom: 10px;
}

#controls label {
    margin-right: 10px;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}