#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid black;
    box-sizing: border-box;
}

/* .square:hover {
    background-color: blue;
} */