body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    background-color: #ffcc66;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header h2 {
    margin: 5px 0;
    font-size: 24px;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.choice {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.choice:hover {
    background-color: #0056b3;
}

.score {
    font-size: 20px;
}

.score p {
    margin: 5px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a:hover {
    color: #ffcc66;
}

#restart {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    transition: background-color 0.3s;
}

#restart:hover {
    background-color: #218838;
}

@media only screen and (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice {
        padding: 12px 24px;
        margin: 10px;
        animation: pulse 1s infinite alternate;
    }

    #restart {
        padding: 12px 24px;
        margin: 10px;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }
}